.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 1vh 2vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* ------------------- LOGO ------------------- */

.logo a {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo img {
    height: 3vh;
    /*width: auto;*/
}

/* ------------------- ACTIONS ------------------- */

.header-actions {
    display: flex;
    align-items: center;
    gap: 1vh;
}

/* Calendar button */
.explore-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: white;
    border: 1px solid #e6e6e6;
    padding: 8px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #444;
    transition: 0.15s;
}

.explore-btn:hover {
    background: #fafafa;
}

.explore-btn img {
    width: 16px;
    height: 16px;
}

/* ------------------- LANGUAGE SWITCH ------------------- */

.lang-switch {
    display: flex;
    background: #f6f6f6;
    border-radius: 10px;
    padding: 4px;
    gap: 4px;
}

.lang-item {
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    opacity: 0.7;
    transition: 0.2s;
}

.lang-item img {
    width: 20px;
    height: 14px;
}

.lang-item:hover {
    opacity: 1;
}

.lang-item.active {
    background: white;
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* ------------------- BURGER ------------------- */

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
}

.burger-btn img {
    width: 22px;
    height: 22px;
}

/* ------------------- MOBILE MENU ------------------- */

.mobile-menu {
    position: absolute;
    top: 100%;
    right: 5vh;
    background: white;
    /* border-radius: 12px; */
    padding: 8px;
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12); */
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 101; /* Higher than calendar modal */
    left: 0;
    width: 100%;
    height: 93vh;
    border-top: 1px solid #F0F0F0;
    overflow: hidden;
    touch-action: none;
}

/* ------------------- RESPONSIVE ------------------- */

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

@media (max-width: 800px) {
    .desktop-only {
        display: none;
    }

    .lang-switch {
        justify-content: space-between;
    }

    .mobile-only {
        display: block;
    }

    .lang-item {
        width: 48%;
        height: 40px;
    }
}
