.year {
    min-height: 62px;
    width: calc(100% + (20px * 2));
    margin-left: -20px;
    padding: 0 40px;
    border-top: 1px solid #F0F0F0;
}

.year:first-of-type {
    border-top: 0;
}

.year-header {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    font-weight: 500;
    height: 62px
}

.year-header span:first-child {
    font-weight: 700;
}

.year.disabled {
    color: #cfcfcf;
}

.arrow {
    margin-left: auto;
    font-size: 18px;
    display: inline-block;
    transition: transform 0.25s ease;
    transform: rotate(180deg); /* down by default */
    opacity: 0.6;
    cursor: pointer;
}

.arrow.open {
    transform: rotate(0deg); /* up when active */
    opacity: 1;
}

.badge {
    margin-left: auto;
    background: #eee;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 10px;
}
