.calendar {
    height: calc(100vh - 7vh);
    flex: 1;
    background: #FFF;
}

/*.calendar-header {*/
/*    padding: 15px;*/
/*    border-bottom: 1px solid #eee;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.year-info-button {*/
/*    background: #B89761;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 8px;*/
/*    padding: 8px 16px;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.year-info-button:hover {*/
/*    background: #a38455;*/
/*}*/

.year-introduction {

}

.year-introduction button {
    width: 100%;
    background: #B89761;
    border: none;
    padding: 5%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.calendar-back {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: #fff;
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    font-size: 24px;
    cursor: pointer;
}
