.month-selector {
    display: flex;
    gap: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ---------- RULER ---------- */

.ruler {
    position: relative;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(70px * 6);
    align-items: center;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: #e6e6e6;
    transform: translateX(-50%);
}

.tick {
    width: 12px;
    height: 1px;
    background: #ddd;
}

.tick.active {
    width: 18px;
    background: #c84438;
}

/* ---------- MONTHS ---------- */

.months {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(71px * 6);
}

.month {
    color: #9a9a9a;
    font-size: 16px;
    margin-top: -0.5vh;
    transition: font-size 0.2s ease;
}

.month:hover {
    font-size: 17.6px; /* 16px * 1.1 = 17.6px */
}

.month.active {
    color: #c84438;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

/*.month.active::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: -54px;*/
/*    top: 50%;*/
/*    width: 18px;*/
/*    height: 1px;*/
/*    background: #c84438;*/
/*    transform: translateY(-50%);*/
/*}*/
