@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-200-normal.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-500-normal.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-600-normal.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-800-normal.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Firago';
    src: url('/assets/fonts/firago-latin-900-normal.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Firago', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background: #f7f7f7;
    color: #222;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.layout-wrapper {
    width: 100%;
    margin: 0 auto;
}

.gig-container {
    width: 100%;
    height: 100vh;
}

.content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(230px, 250px) 1fr;
}

.timeline-panel {
    background-clip: border-box;
    background: url("/public/assets/background.png");
    background-size: cover;
    padding: 5% 10%;
    height: calc(100% - 10vh);
}

.timeline-center {
    height: 100%;
    /*overflow: hidden;*/
}

.sidebar {
    z-index: 99;
    overflow: hidden;
}

/* tablet */
@media (max-width: 800px) {
    .content {
        grid-template-columns: 1fr;
        height: 90vh;
    }

    .header {
        padding: 1vh 2vh;
    }

    .sidebar {
        display: none;
    }

    .timeline-panel {
        width: 100%;
        height: 100%;
        padding: 5% 2%;
        overflow-y: auto;
    }

    /*.lang-switch {*/
    /*    display: none;*/
    /*}*/

    .nav {
        width: 35px;
        height: 35px;
    }

    .page {
        padding: 0 10%;
    }

    .share-modal {
        width: 90%
    }
}

/* small desktop */
@media (max-width: 1024px) {}

/* large desktop */
@media (min-width: 1280px) {}