body {
    /*overflow: auto!important;*/
}

.dashboardLayout {
    display: flex;
    height: 100%;
    width: 100%;
}

.dashboardLayout aside {
    width: 250px;
}

.dashboardLayout main {
    width: calc(100% - 250px);
    padding: 5%;
    height: 100vh;
    overflow-y: auto;
    background-color: #F2EDED;
}
