/* Overlay */
.share-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Modal */
.share-modal {
    width: 40%;
    background: #ffffff;
    border-radius: 24px;
    padding: 48px 56px 56px;
    position: relative;
    text-align: center;
    box-shadow: 0 24px 80px rgba(0, 0, 0, 0.15);
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    border: none;
    background: #ffffff;
    box-shadow: 0px 2px 4px 0px #1B1C1D0A;
    font-size: 20px;
    cursor: pointer;
}

/* Logo */
.share-overlay .logo {
    width: 100%;
    height: 56px;
    /*margin: 0 auto;*/
    margin-bottom: 3em;
}

/* Title */
.share-modal h3 {
    font-size: 28px;
    font-weight: 600;
    color: #111;
    margin-bottom: 12px;
}

/* Subtitle */
.share-modal p {
    font-size: 16px;
    color: #8a8a8a;
    margin-bottom: 36px;
}

/* Input wrapper */
.share-input {
    background: #f2f2f2;
    border-radius: 16px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Input */
.share-input input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #9b9b9b;
    outline: none;
}

/* Copy button */
.share-input button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
